<script setup>
import { ref } from 'vue'
import OkCancel from './OkCancel.vue'
import IntensitySelector from './IntensitySelector.vue'
import { useTaskStore } from '@/stores/tasks'

const title = ref('')
const description = ref('')

const store = useTaskStore()

const toggleOptionalButton = ref(null)

function clearInputs() {
  title.value = ''
  description.value = ''
}

function addTask() {
  store.addTask({
    title: title.value,
    description: description.value,
    status: 'Open'
  })

  // TODO Check for success before clearing?
  clearInputs()
}

function toggleOptional() {
  const optionalElements = document.querySelectorAll('.optional')

  if (optionalElements.length <= 0) {
    return
  }

  for (const elem of optionalElements) {
    elem.classList.toggle('hidden')
  }

  if (optionalElements[0].classList.contains('hidden')) {
    // Optional elements are currently hidden.
    toggleOptionalButton.value.innerHTML = 'Show optional fields'
  } else {
    toggleOptionalButton.value.innerHTML = 'Hide optional fields'
  }
}
</script>

<template>
  <div class="taskForm">
    <h1>Add Tasks</h1>

    <div class="grid">
      <label for="title">Title:</label>
      <input type="text" id="title" v-model="title" />

      <label for="description">Description:</label>
      <textarea rows="5" cols="40" id="description" v-model="description"></textarea>

      <button class="optionalButton" @click="toggleOptional" ref="toggleOptionalButton">
        Show optional fields
      </button>

      <label class="optional hidden" for="intensityA">A</label>
      <IntensitySelector id="intensityA" class="optional hidden" />

      <label class="optional hidden" for="intensityB">B</label>
      <IntensitySelector id="intensityB" class="optional hidden" />

      <label class="optional hidden" for="intensityC">C</label>
      <IntensitySelector id="intensityC" class="optional hidden" />
    </div>

    <OkCancel okText="Add Task" @ok="addTask" cancelText="Clear" @cancel="clearInputs" />
  </div>
</template>

<style scoped>
.taskForm {
  background: #055;
  padding: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 512px;
  gap: 0.5rem;

  padding: 1rem;
}

.grid label {
  text-align: right;
}

.hidden {
  display: none;
}

.optionalButton {
  grid-column: 2;
  background: var(--color-tab-button);
  color: var(--color-hover);
  border: none;
}
</style>
