<script setup>
import { useTaskStore } from '@/stores/tasks'

const store = useTaskStore()
</script>

<template>
  <div class="debug">
    <h1>Debug View</h1>

    <p>Total number of tasks: {{ store.tasks.length }}</p>
    <p>Number of open tasks: {{ store.openTasks.length }}</p>

    <p>Current task: {{ store.currentTaskTitle }}</p>

    <p>All tasks:</p>
    <li v-for="task in store.tasks">
      {{ task.title }}
    </li>

    <textarea rows="20" cols="40">{{ store.tasks }}</textarea>
  </div>
</template>

<style scoped>
.debug {
  background: #500;
  padding: 1rem;
}
li {
  margin-left: 1rem;
}
</style>
