<script setup>
import IntensitySelector from './IntensitySelector.vue'
import { useTaskStore } from '@/stores/tasks'
import { getRandomListElement } from '@/util/helper'

const store = useTaskStore()

function selectOpenTask() {
  let task = getRandomListElement(store.tasks)
  store.currentTask = task
}

// TODO Preselect intensities.
</script>

<template>
  <div>
    <h1>Do Tasks</h1>

    <div class="centered">
      <h2>Current task:</h2>
      <p>{{ store.currentTaskTitle }}</p>

      <div class="centered" v-show="!store.currentTask">
        <div class="intensityGrid">
          <label for="intensityA">A</label>
          <IntensitySelector id="intensityA" highlightMode="bar" dimensionValue="medium" />

          <label for="intensityB">B</label>
          <IntensitySelector id="intensityB" highlightMode="bar" dimensionValue="medium" />

          <label for="intensityC">C</label>
          <IntensitySelector id="intensityC" highlightMode="bar" dimensionValue="medium" />
        </div>

        <button @click="selectOpenTask">Randomly select an open task</button>
      </div>

      <div v-show="store.currentTask">
        <div class="h-button-group">
          <button @click="selectOpenTask">Another task please...</button>
          <button @click="selectOpenTask">Task complete!</button>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
div {
  background: var(--color-form-background);
  padding: 1rem;
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}
.centered p {
  margin-bottom: 1rem;
}
button {
  background: var(--color-tab-button);
  color: var(--color-hover);
  border: none;
  padding: 0.5rem;
}
.intensityGrid {
  display: grid;
  grid-template-columns: max-content max-content;

  max-width: 512px;
  gap: 0.5rem;
}

.intensityGrid label {
  align-self: center;
}
</style>
