<script setup>
import { ref } from 'vue'
import { useTaskStore } from '@/stores/tasks'
import { getRandomIndex } from '@/util/helper'

const store = useTaskStore()

const question = ref('')
const answers = ref([])

const taskRef = ref(null)

const COMPOSITE_TASK_QUESTION = 'Is this a composite task?'
const COMPOSITE_TASK_NO = "Simple Task"
const COMPOSITE_TASK_YES = "Composite Task"

function tryAskComposite(task) {
  if(task.composite!=undefined) {
    return false;
  }

  question.value = COMPOSITE_TASK_QUESTION
  answers.value = [COMPOSITE_TASK_NO, COMPOSITE_TASK_YES]
  taskRef.value = task
  return true;
}

function trySetIntensities(task) {
  // TODO Implement me.
  return false;
}

function tryDefineActionableSubtask(task) {
  // TODO Implement me.
  return false;
}

function trySetSuitableQuestion(task) {
    if(tryAskComposite(task)) {
      return true;
    }
    if(trySetIntensities(task)) {
      return true;
    }
    if(tryDefineActionableSubtask(task)) {
      return true;
    }
    return false;
}

function showRandomQuestion() {
  const openTasks = store.openTasks

  if (openTasks.length <= 0) {
    question.value = 'No open tasks found.'
    taskRef.value = null;
    return
  }

  // 20 tries to randomly find a task for enrichment.
  for(let tries=0;tries<20;tries++) {
    let i = getRandomIndex(openTasks)
    let task = openTasks[i]
    if(trySetSuitableQuestion(task)) {
      return;
    }
  }

  // After that, just loop through them.
  for(let i=0;i<openTasks.length;i++) {
    let task = openTasks[i];
    if(trySetSuitableQuestion(task)) {
      return;
    }
  }

  // At this point, no open task can be enriched further.
  question.value= 'All open tasked are fully enriched.'
  taskRef.value = null;
}

function handleAnswer(event) {
  console.log("handleAnswer:", event.target.innerText)

  if(question.value==COMPOSITE_TASK_QUESTION) {
    if(event.target.innerText==COMPOSITE_TASK_YES)  {
      taskRef.value.composite = true;
    } else {
      taskRef.value.composite = false;
    }
    question.value = null;
    taskRef.value = null;
  }


  // TODO Update backend. Preferably automatically in the store.
}

</script>

<template>
  <div class="centered">
    <h1>Enrich Tasks</h1>
    <p class="larger-1">{{ question }}</p>

    <div v-if="taskRef" class="centered">
      <p class="larger-2">{{taskRef.title}}</p>
      <div class="h-button-group">
        <button v-for="answer in answers" @click="handleAnswer">
           {{answer}} 
        </button>
        <button class="deemphasized" @click="showRandomQuestion">Skip</button>
      </div>
    </div>

    <div v-if="!taskRef">
      <div class="h-button-group">
        <button @click="showRandomQuestion">Show random question</button>
      </div>
    </div>

  </div>
</template>

<style scoped>
div {
  background: #220;
  padding: 1rem;
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
}
button {
  padding: 0.5rem;
  font-size: 1.2rem;
  color: var(--color-toggle-button-text);
  background: var(--color-tab-button);
  border: none;
}
.deemphasized {
  background: #333;
}
.larger-1 {
  font-size: 120%;
  margin: 1.0rem;
}
.larger-2 {
  font-size: 140%;
  margin: 1.0rem;
}
</style>
