<script setup>
import { ref, onMounted } from 'vue'
const props = defineProps(['dimensionValue', 'highlightMode'])

const buttonsRef = ref([])

/**
  Like radio buttons: Only one is ever selected.
*/
function updateHighlightedSingle(selectedButton) {
  const buttons = buttonsRef.value
  for (const button of buttons) {
    if (button == selectedButton) {
      button.classList.add('selected')
    } else {
      button.classList.remove('selected')
    }
  }
}

/**
  Like a progress- or volume-bar: Everything up to the selected button is highlighted.
*/
function updateHighlightedBar(selectedButton) {
  const buttons = buttonsRef.value
  let highlight = true
  for (const button of buttons) {
    if (highlight) {
      button.classList.add('selected')
    } else {
      button.classList.remove('selected')
    }
    if (button == selectedButton) {
      highlight = false
    }
  }
}

function updateHighlighted(selectedButton) {
  if (props.highlightMode == 'bar') {
    updateHighlightedBar(selectedButton)
    return
  }

  // else
  updateHighlightedSingle(selectedButton)
}

function setValue(event) {
  // TODO Set dimensionValue

  updateHighlighted(event.target)
}

onMounted(() => {
  for (const button of buttonsRef.value) {
    if (button.id == props.dimensionValue) {
      updateHighlighted(button)
      return
    }
  }
})
</script>

<template>
  <div class="valueButtons">
    <button id="low" @click="setValue" :ref="(el) => buttonsRef.push(el)">Low</button>
    <button id="medium" @click="setValue" :ref="(el) => buttonsRef.push(el)">Medium</button>
    <button id="high" @click="setValue" :ref="(el) => buttonsRef.push(el)">High</button>
  </div>
</template>

<style scoped>
.valueButtons {
  display: grid;
  gap: 0.2rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

button {
  padding: 0.5rem;
  font-size: 1.2rem;
  color: var(--color-toggle-button-text);
  background: var(--color-toggle-button);
  border: none;
}

.selected {
  background: var(--color-toggle-button-active);
}
</style>
