<script setup>
defineProps(['okText', 'cancelText'])
const emit = defineEmits(['ok', 'cancel'])
</script>

<template>
  <div class="okCancel">
    <button @click="emit('cancel')">{{ cancelText }}</button>
    <button @click="emit('ok')">{{ okText }}</button>
  </div>
</template>

<style scoped>
.okCancel {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  padding: 1rem;
}

.okCancel button {
  padding: 0.5rem;
  font-size: 1.2rem;
  color: var(--color-toggle-button-text);
  background: var(--color-tab-button);
  border: none;
}
</style>
