<script setup>
import { useTaskStore } from '@/stores/tasks'

const store = useTaskStore()
</script>

<template>
  <div>
    <h1>Overview</h1>

    <!-- TODO Are there open tasks? (Yes/No, without exact numbers) -->
    <p>Are there open tasks? {{ store.openTasks.length > 0 }}</p>

    <!-- TODO Are there tasks in need of enrichment? (Yes/No, without exact numbers) -->
  </div>
</template>

<style scoped>
div {
  background: darkblue;
  padding: 1rem;
}
</style>
