<template>
  <nav>
    <router-link to="/">Overview</router-link>
    <router-link to="/addTasks">Add Tasks</router-link>
    <router-link to="/enrichTasks">Enrich Tasks</router-link>
    <router-link to="/doTasks">Do Tasks</router-link>
    <router-link to="/debugView">Debug View</router-link>
  </nav>
</template>

<style scoped>
nav {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

a {
  padding: 1rem 1rem 1rem 4rem;
  font-size: 1.4rem;
  color: var(--color-hover);
  background: var(--color-tab-button);
}

.router-link-active {
  background: var(--color-tab-button-active);
}
</style>
