@import './base.css';

#app {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 2rem 0px;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

input,
textarea {
  color: var(--color-text);
  background: var(--color-background-soft);
  border: var(--color-background);
}

h1 {
  text-align: center;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.h-button-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.h-button-group button {
  flex: 1;
}