<script setup lang="ts">
import Tabs from './components/Tabs.vue'
import PlaceholderAside from './components/PlaceholderAside.vue'
</script>

<template>
  <Tabs />
  <main>
    <router-view></router-view>
  </main>
  <aside>
    <PlaceholderAside />
  </aside>
</template>

<style>
#app {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

main {
  margin: 0 2rem;
  flex-grow: 1;
}
aside {
  flex-grow: 1;
  max-width: 20%;
}
</style>
